 @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,600;1,500;1,600&family=Urbanist:wght@100;200;300;400;500;600&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-[Urbanist];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
    @apply font-normal;
   
  }
}

/* custom styling */
.logo{
  font-family: 'Yeseva One', 'cursive';
  background: linear-gradient( #ff0144, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size:2rem;
  letter-spacing: -1px;

}
.user-avatar{
 
  width: 350px;
  height: 400px;
  border-radius: 10px;

}
.content-wrapper{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  
  
}
.content-wrapper:hover{
  background-image: linear-gradient(
    to right, 
    rgba(112,157,255,0.8),
    hsla(240, 28%, 8%, 0.9)
  )!important;
}
.project-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 40px;
  width: 500px;
}
/*  */
.btn{
  margin: 0.5em;
  color: white;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.buttons button:after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skew(-45deg) scaleX(0);
  transition: all .5s;
}