 @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,600;1,500;1,600&family=Urbanist:wght@100;200;300;400;500;600&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-[Urbanist];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
    @apply font-normal;
   
  }
}

/* custom styling */
.logo{
  font-family: 'Yeseva One', 'cursive';
  background: linear-gradient( #ff0144, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size:2rem;
  letter-spacing: -1px;

}
.user-avatar{
 
  width: 350px;
  height: 400px;
  border-radius: 10px;

}
.content-wrapper{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  
  
}
.content-wrapper:hover{
  background-image: linear-gradient(
    to right, 
    rgba(49,134,226),
    hsla(242,74%,61%, 0.8)
  )!important;
}
.project-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 40px;
  width: 500px;
}
